#hhh1{
    background-color:crimson;
    color: white;
    text-align: center;
    font-size:100px;
    font-family:cursive ;
    position: sticky;
    top: 10px;
}
#hhh2{
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
    position: relative;left: 50px;
    border: 10px dotted maroon;
}
#hh{
position: absolute;
top: 50px `;
}